*{
	margin:0px;
	padding:0px;
	box-sizing: border-box;
}
#mainbody{
	width:100%;
	height:1000px;
	background-color:#FFFFFF;
	
}
#wrapper{
	width:100%;
	height:auto;
	background-color:#ffffff;
}
#header{
	width:100%;
	height:150px;
	background-color:#FFFFFF;
}
.logo{
	width:10%;
	height:60%;
	background-color:#FFFFFF;
	float:left;
	margin-top:1%;
	margin-left:5%;
	
}
.menu{
	height:100%;
	width:80%;
	float:right;
	padding-left:4%;
	padding-top:1%;
	
	
}

ul li{
	list-style:none;
	float:left;
	width:9em;
	height:2em;
	background-color:#b3c6ff;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:1.25em;
	margin-top:.5em;
	line-height:2em;
	z-index:999;
	border-radius:20px;
	position:relative;
	text-decoration:none;
	border:2px solid #0033CC;
	text-align:center;
	
	
}

ul li ul{
	float:left;
	width:6em;
	height:.5em;
	text-align:center;
	line-height:1em;
	border-radius:20px;
	position:absolute;
	font-size:.75em;
	

}


ul li>a{
	text-align:center;
	text-decoration:none;
	color:#000000;
	position:relative;
	font-size:100%;
	display:block;
	overflow:visible;
	position:relative;
	
	
			
}
ul li a:hover{
	color:#000066;
	background-color:#CCCCCC;
	border-radius:20px;
	font-weight:bolder;
	text-decoration:none;
	overflow:hidden;
}

ul ul{
	position:absolute;
	display:none;
}

ul li:hover>ul{
	display:block;
	
	
}
	
.w3-black{
	color:#FFFFFF;
	background-color:#000000;
}

.w3-display-right{
	position:absolute;	
	margin-right:10%;
	margin-top:450px;
}
.w3-display-left{
	position:absolute;
	
	margin-left:58%;
	margin-top:450px;
}
.w3-display-left2{
	
	position:relative;
	margin-left:19%;
	margin-top:20%;
}
.w3-display-right2{
	position:relative;
	margin-left:55%;
	margin-top:20%;
}


.w3-button{
	border:none;
	display:inline-block;
	vertical-align:middle;
	overflow:hidden;
	cursor:pointer;
	white-space:nowrap;
}

#centre{
	width:100%;	
	display:block;
	float:left;
}

#tophalf{
	width:100%;
	height:300px;
	overflow:visible;
	float:left;
	background-image:url(../image.png);
	background-repeat:no-repeat;
	background-position:center;
	
}


.mySlides{
	height:290px;
	width:100%;
	margin:2px;
}
.image{
	background-color:#b3d9ff;
	float:left;	
	width:100%;
	
}

.moving{
	width:100%;
	height:300px;
	float:left;
	
}
.setUp{
	position:relative;
	width:100%;
	
	
}
.centered {
    position: absolute;
    bottom: 10px;
    right: 40%;
    background-color:#0033CC;
    color: white;
    padding-left: 20px;
    padding-right: 20px;
}
#centre{
	height:380px;
	width:100%;
	}

#centreHalf{
	width:80%;
	height:25%;
	float:left;
	margin-left:10%;
	margin-right:10%;
	margin-top:20px;
	
}
.members{
	width:60%;
	height:100%;
	float:left;
	
	
}
#IndeeTeam{
	width:100%;
	height:100%;
}
#teamPic{
	width:30%;
	height:120px;
	display:inline;
	position:relative;
	margin-top:-90%;
}
#teamName{
	height:120px;
	font:"Times New Roman", Times, serif;
	font-size:14px;
	display:inline-block;
	position:relative;
	list-style-position:inside;
	vertical-align:middle;
	margin-top:20px;
	width:70%;
}

#studentName{
	font-size:12px;
	}
#centreRight{
	width:40%;
	height:380px;
	float:left;
	
}

.image{
	height:380px;
	width:100%;
	float:left;

}



.galleryText{
	height:5%;
	width:50%;
	font-size:14px;
	float:left;
	margin-left:30%;
}
#imageFolder{
	width:100%;
	height:400px;
	background-position:center;
}
.folder1{
	width:40%;
	height:300px;
	margin:50px;
	background-color:#b3c6ff;
	float:left;
	border-radius:20px;
}
.folder2{
	width:40%;
	height:300px;
	margin:50px;
	background-color:#b3c6ff;
	float:left;
	border-radius:20px;
}
.folder3{
	width:40%;
	height:300px;
	margin:50px;
	background-color:#b3c6ff;
	float:left;
	border-radius:20px;
}
.folder4{
	width:40%;
	height:300px;
	margin:50px;
	background-color:#b3c6ff;
	float:left;
	border-radius:20px;
}

.folderGIAN{
	height:50%;
	width:50%;
	position:absolute;
	margin-left:25%;
	margin-top:5%;
	}
.folderIW{
	height:50%;
	width:50%;
	position:absolute;
	margin-left:25%;
	margin-top:5%;
}
.folderVISITORS{
	height:50%;
	width:50%;
	position:absolute;
	margin-left:25%;
	margin-top:5%;
}

#bottom{
	background-color:#FFFFFF;
	width:100%;
	height:400px;
	margin-top:700px;
	
}
#bottom-left{
	width:100%;
	height:400px;
	float:left;
	margin-left:30%;
	}
#bottom1{
	width:100%;
	height:200px;
	float:left;
	}

#bottom-center{
	
	height:200px;
	float:left;
}
#bottom-right{
	
	height:200px;
	float:left;
}
.youtubeVideo{
   width:50%;
   
}
.youtubeVideoText{
	float:right;
	width:20%;
	

}



#footer{
	width:100%;
	height:20px;
	background-color:#FFFFFF;
	float:left;
	margin-top:0%;
	
	
}


