*{
	margin:0px;
	padding:0px;
}
#mainbody{
	width:100%;
	height:800px;
	background-color:#000000;
	background-image:url(7wHUxc.jpg);
}
#wrapper{
	width:80%;
	margin-left:10%;
	margin-right:10%;
	height:800px;
	background-color:#ffffff;
}
#header{
	width:100%;
	height:15%;
	background-color:#FFFFFF;
}
.logo{
	width:10%;
	height:60%;
	background-color:#e6e6e6;
	float:left;
	margin-top:1%;
	margin-left:.5%;
}
.menu{
	height:100%;
	width:85%;
	float:left;
	
}
ul li{
	list-style:none;
	float:left;
	width:165px;
	height:35px;
	background-color:#b3c6ff;
	text-align:center;
	font-family:"Times New Roman", Times, serif;
	font-size:18px;
	margin-left:2px;
	margin-top:1px;
	line-height:35px;
	border:1px solid white;
	border-radius:20px;
	position:relative;
	text-decoration:none;
	border:2px solid #0033CC;
	}
}
ul li a{
	text-align:center;
	text-decoration:none;
	color:#FFFFFF;
	display:block;
	
}
ul li a:hover{
	color:#000066;
	background-color:#CCCCCC;
	border-radius:10px;
	font-weight:bolder;
	text-decoration:none;
}
ul ul{
	position:absolute;
	display:none;
}
ul li:hover>ul{
	display:block;
}

#centre{
	width:100%;	
	background-color:#ffffff;
	float:left;
}
#tophalf{
	width:100%;
	height:300px;
	background-color:#8CC6FF;
	float:left;
}
.mySlides{
	height:290px;
	width:100%;
	margin:2px;
}
.image{
	background-color:#b3d9ff;
	float:left;
	border:2px solid blue;
	width:60%;
}

.moving{
	width:38%;
	height:300px;
	float:left;
	background-color:#b3c6ff;
	margin-left:1%;
}
.heading1{
	width:60%;
	height:50px;
	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:18px;
	margin-left:25%;
	border:#000066;
	line-height:70px;
}
.setUP:hover{

	transform:scale(1.5);
}
#centre{
	height:25%;
	width:100%;
	}

#centreHalf{
	width:100%;
	height:25%;
	float:left;
}
.members{
	width:60%;
	height:100%;
	float:left;
	border:#666666;
	
}
#IndeeTeam{
	width:100%;
	height:100%;
}
#teamPic{
	width:30%;
	height:120px;
}
#teamName{
	width:70%;
	height:120px;
}
teamName{
	font:"Times New Roman", Times, serif;
	font-size:14px;
	width:300px;

}
#studentName{
	font-size:12px;
	}
#centreRight{
	width:40%;
	height:200px;
	float:left;
}

.youtubeVideo{
	width:100%;
	height:120%;
	float:left;
	background-color:#0066cc;
	margin-top:25px;
}

.galleryLogo{
	height:4%;
	width:50%;
	float:left;
	margin-left:5%;
	margin-top:2%;
}
.galleryText{
	height:5%;
	width:50%;
	font-size:14px;
	float:left;
	margin-left:30%;
}


#footer{
	width:100%;
	height:2%;
	background-color:#FFFFFF;
	float:left;
	margin-top:200px;
	
}


